<!DOCTYPE html>
<html>
<%-partial("../partials/header")%>
  <body>
  <%-partial("../partials/navigater")%>
  <%-partial("../partials/header-tow")%>
    <%-partial("../partials/footer")%>
  </body>
</html>
